#SceneSceneNV {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
}

#SceneSceneNV:after {
	content: '';
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-image : url('../images/pig.jpg');
	background-size: cover;
  opacity: 0.25;
}