#SceneScene1 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
	font-family: 'Open Sans', sans-serif;
}

#SceneScene1 .chart {
  clear: both;
  padding: 15px;
  width: 1280px;
	height: 720px;
}

#SceneScene1 .chart li {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 15%;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

#SceneScene1 .chart .label {
  background: #cccccc;
  margin: -9px 0 71px 0;
}

#SceneScene1 .chart .percent {
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
  position: absolute;
  font-size: 62px;
  font-size: 3.875rem;
}

#SceneScene1 .chart .percent span {
  font-size: 30px;
  font-size: 1.875rem;
}

#SceneScene1 .chart .skill {
  font-weight: 800;
  opacity: .5;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  bottom: 20px;
  position: absolute;
  font-size: 16px;
  font-size: 1rem;
}
#SceneScene1 .chart .pp {
	height: 95%;
  background: #4e79cd;
  border: 1px solid #4e79cd;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #75aed7), color-stop(70%, #4e79cd));
  background-image: -moz-linear-gradient(#75aed7, #4e79cd 70%);
  background-image: -webkit-linear-gradient(#75aed7, #4e79cd 70%);
  background-image: linear-gradient(#75aed7, #4e79cd 70%);
}

#SceneScene1 .chart .psoe {
	height: 90%;
  background: #ff6b6b;
  border: 1px solid #ff6b6b;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e9e), color-stop(70%, #ff6b6b));
  background-image: -moz-linear-gradient(#ff9e9e, #ff6b6b 70%);
  background-image: -webkit-linear-gradient(#ff9e9e, #ff6b6b 70%);
  background-image: linear-gradient(#ff9e9e, #ff6b6b 70%);
}

#SceneScene1 .chart .otros {
	height: 40%;
  background: #a1a29f;
  border: 1px solid #a1a29f;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e8), color-stop(70%, a1a29f));
  background-image: -moz-linear-gradient(#e9e9e8, #a1a29f 70%);
  background-image: -webkit-linear-gradient(#e9e9e8, #a1a29f 70%);
  background-image: linear-gradient(#e9e9e8, #a1a29f 70%);
}

#SceneScene1 .chart .ciudadanos {
	height: 75%;
  background: #ffcd92;
  border: 1px solid #ffcd92;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe4c5), color-stop(70%, #ffcd92));
  background-image: -moz-linear-gradient(#ffe4c5, #ffcd92 70%);
  background-image: -webkit-linear-gradient(#ffe4c5, #ffcd92 70%);
  background-image: linear-gradient(#ffe4c5, #ffcd92 70%);
}

#SceneScene1 .chart .podemos {
	height: 80%;
  background: #ab64f4;
  border: 1px solid #ab64f4;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c594f7), color-stop(70%, #ab64f4));
  background-image: -moz-linear-gradient(#c594f7, #ab64f4 70%);
  background-image: -webkit-linear-gradient(#c594f7, #ab64f4 70%);
  background-image: linear-gradient(#c594f7, #ab64f4 70%);
}